* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;


}

body {
  background-image: url(../images/rooster-hen-chicken-animals-404440-1024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
/*posibles colores 247, 95, 34 */ 
.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(50px );
  backdrop-filter: blur(50px);
 background-color: rgba(247, 95, 34);
   opacity: 0.9;

}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 35px;
}

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 16px;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  color:  rgba(247, 95, 34);
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background: #fff;
  color:rgba(247, 95, 34);
}

/*Formularios*/

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -214px;
  left: 10px;

  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(247, 95, 34);
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 16px;
  background: rgba(247, 95, 34);
  font-weight: 500;
  cursor: pointer;
  color: white;
  outline: none;
}

.formulario__login {
  opacity: 1;
  display: block;
}
.formulario__register {
  display: none;
}
 #mi-imagen {

   
    position: fixed;
    bottom: 0;
    left: 0; /* O right: 0; según desees colocarlo en la derecha o izquierda */
    width: 200px; /* Ancho deseado */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin: 5px; /* Ajusta según sea necesario */
    border-radius: 15px;
}

/* responsive desgin*/

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }

  /*Formularios*/

  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}